<!--Home File Goes here-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Portal</title>
</head>
<body>
    <h1>My Home page</h1>
       <li><a class="" href="/registerFaculty">Register Faculty</a></li>
</body>
</html>