<%- include('./Partials/header') %> 
<%- include('./Partials/MetaTag/adminMeta.ejs') %>
<%- include('./Partials/flash_messages') %>
<% if(typeof(isSuperUser)!=='undefined' && isSuperUser===true){%>
  <h1>Super User Login Here</h1>
    <form id="form_id" class="login-form" method="post" name="myform" action="/superuser/login">
  <%}else{%>
    <h1>Users Login Here</h1>
    <form id="form_id" class="login-form" method="post" name="myform" action="/user/auth/login">
<%} %> 
      <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" class="form-control" name="email" id="email" placeholder="Email" required/>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit"> Submit</button>
      </div>
    </form>
<%- include('./Partials/footer') %>