<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
  <meta name="author" content="GeeksLabs">
  <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Faculty</title>

  <!-- Bootstrap CSS -->
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="../public/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="../public/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="../public/css/font-awesome.min.css" rel="stylesheet" />
  <link href="../public/css/daterangepicker.css" rel="stylesheet" />
  <link href="../public/css/bootstrap-datepicker.css" rel="stylesheet" />
  <link href="../public/css/bootstrap-colorpicker.css" rel="stylesheet" />
  <link href="../public/css/style.css" rel="stylesheet">
  <link href="../public/css/style-responsive.css" rel="stylesheet" />
</head>

<body>

  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a href="/facultyHome" class="logo">Indian Institute of Information Technology <span class="lite">Faculty</span></a>
      <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">

          <div class="log-arrow-up"></div>
              <li class="eborder-top">
                <a href="/profile"><i class="icon_profile"></i> My Profile</a>
              </li>
              <li>
                <a href="/"><i class="icon_key_alt"></i> Log Out</a>
              </li>
            <!-- </ul> -->
          </li>
          <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
      </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="/facultyHome">
              <i class="icon_house_alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          
           <li class="salaryRecpt" id="salaryRecpt">
              <a class="salary" href="/salaryRecpt">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt" viewBox="0 0 16 16">
  <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z"/>
  <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
</svg>
                <span>Salary Receipt</span>
              </a>
          </li>

          <li class="applyleave" id="applyleave">
              <a class="applyleave" href="/applyleave">
                <i class="fa fa-file-text-o"></i>
                <span>Apply For Leave</span>
              </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Receipt </h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/facultyHome">Home</a></li>
              <li><i class="icon_document_alt"></i>Salary Receipt</li>
            </ol>
          </div>
        </div>
         <input type="button" class="form-control" id="download" value="Download Receipt" onclick="downloadpdf()">
         <hr>
        <div class="row">
          <div class="form-group row col-6">
            <label for="example-month-input" class="col-2 col-form-label">From</label>
            <div class="col-10">
              <input class="form-control" type="month" value="2011-08" id="example-month-input">
            </div>
          </div>

          <div class="form-group row col-6">
            <label for="example-month-input" class="col-2 col-form-label">To</label>
            <div class="col-10">
              <input class="form-control" type="month" value="2011-08" id="example-month-input">
            </div>
          </div>

        </div>
        <!-- Basic Forms & Horizontal Forms-->
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
  </section>
  <!-- container section end -->
  <!-- javascripts -->
  <script src="../public/js/jquery.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <!-- nice scroll -->
  <script src="../public/js/jquery.scrollTo.min.js"></script>
  <script src="../public/js/jquery.nicescroll.js" type="text/javascript"></script>

  <!-- jquery ui -->
  <script src="../public/js/jquery-ui-1.9.2.custom.min.js"></script>

  <!--custom checkbox & radio-->
  <script type="text/javascript" src="../public/js/ga.js"></script>
  <!--custom switch-->
  <script src="../public/js/bootstrap-switch.js"></script>
  <!--custom tagsinput-->
  <script src="../public/js/jquery.tagsinput.js"></script>

  <!-- colorpicker -->

  <!-- bootstrap-wysiwyg -->
  <script src="../public/js/jquery.hotkeys.js"></script>
  <script src="../public/js/bootstrap-wysiwyg.js"></script>
  <script src="../public/js/bootstrap-wysiwyg-custom.js"></script>
  <script src="../public/js/moment.js"></script>
  <script src="../public/js/bootstrap-colorpicker.js"></script>
  <script src="../public/js/daterangepicker.js"></script>
  <script src="../public/js/bootstrap-datepicker.js"></script>
  <!-- ck editor -->
  <!-- <script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script> -->
  <!-- custom form component script for this page-->
  <script src="../public/js/reg_faculty.js"></script>
  <!-- custome script for all page -->
  <script src="../public/js/scripts.js"></script>
  <script src="../public/js/salary.js"></script>


</body>

</html>
