<aside>
  <div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" href="/admin"><i class="icon_house_alt"></i><span>Dashboard</span></a>
      </li>
      <li class="register" id="register">
          <a class="" href="/admin/addemployee">
            <i class="icon_profile"></i>
            <span>Add Employee</span>
          </a>
      </li>

      <li class="leaves" id="leaves">
          <a class="" href="/admin/employee/leaves">
            <i class="fa fa-file-text-o"></i>
            <span>View Leaves</span>
          </a>
      </li>

      <li class="allfaculty" id="allfaculty">
          <a class="" href="/admin/employee">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span>All Employees</span>
          </a>
      </li>
      <li class="allfaculty" id="allfaculty">
        <a class="" href="/admin/department">
          <span>View Departments</span>
        </a>
      </li>
      <li class="allfaculty" id="allfaculty">
        <a class="" href="/admin/adddepartment">
          <span>Add Department</span>
        </a>
      </li>
      <li class="allfaculty" id="allfaculty">
        <a class="" href="/admin/addemployeeinfo">
          <span>Add Employee Salary Info</span>
        </a>
      </li>
      <li class="allfaculty" id="allfaculty">
        <a class="" href="/admin/editemployeeinfo">
          <span>Edit Employee Info</span>
        </a>
      </li>
      <li class="allfaculty" id="allfaculty">
        <a class="" href="/admin/employeeinfo">
          <span>View All Employee Salary Info</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<section id="main-content">
  <section class="wrapper">