<aside>
    <div id="sidebar" class="nav-collapse ">
      <ul class="sidebar-menu">
        <li>
          <a class="" href="/superuser"><i class="icon_house_alt"></i><span>Dashboard</span></a>
        </li>
        <li class="register" id="register">
            <a class="" href="/superuser/addinstitute"><span>Add Institute</span></a>
        </li>
        <li class="leaves" id="leaves">
            <a class="" href="/superuser/addAdmin"><i class="icon_profile"></i><span>Add Admin</span></a>
        </li>
        <li class="allfaculty" id="allfaculty">
            <a class="" href="/admin/employee"><span>Assign Admin to the institute</span></a>
        </li>
      </ul>
    </div>
  </aside>
  <section id="main-content">
    <section class="wrapper">