<%- include('../Partials/MetaTag/adminMeta.ejs') %>
<title>Super Admin| Add Institute Form</title>
<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/SideBar/superUserSideBar.ejs') %>
<div class="container">
    <form>
        <div class="form-group">
          <label for="exampleInputPassword1">Institute Name</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="instituteName" required>
        </div>
        <label>Rest Inputs Comming Soon</label>
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
      </form>
</div>
<%- include('../Partials/Scripts/adminscript.ejs') %>