<%- include('../Partials/MetaTag/adminMeta.ejs') %>
<title>Super Admin</title>
<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/SideBar/superUserSideBar.ejs') %>
<%- include('../Partials/Scripts/adminscript.ejs') %>